.flex-container {
    display: flex;
}
.flex-containerIcon{
    display: flex;
    flex-direction: row;
}
.flex-child {
    flex: 1;
    text-align: justify;
}
.flex-child:first-child {
    border: 2px;
    margin-right: 10px;
    padding-right: 10px;
    border-right-style: dotted;
}
.flex-child:not(:first-child){
    border = 0px;
}
.flex-text {
    padding-left: 4px;
    text-align: left;
    align-self: center;
}
.flex-image {
    text-align: center;
    align-items: center;
    align-self: center;
    width: 40px;
    min-width:40px;
    max-width:100%;
}
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
  .flex-child:first-child {
    border-right-style: none;
    border-bottom-style: dotted;
    margin: 0px;
    padding: 0px;


  }
  .flex-text {
    text-align:center;
  }
}
