.flex-container {
    display: flex;
}
.flex-containerIcon{
    display: flex;
    flex-direction: row;
}
.flex-child {
    flex: 1;
    text-align: justify;
}
.flex-child:first-child {
    border: 2px;
    margin-right: 10px;
    padding-right: 10px;
    border-right-style: solid;
}
.flex-child:not(:first-child){
    border = 0px;
}
.flex-child-text {
    padding-left: 4px;
    text-align: left;
    align-self: center;
    display:center;
}
.flex-child-image {
    text-align: center;
    align-items: center;
    width: 40px;
    min-width:40px;
    border: 0px;
}
